# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Dependencies
**/node_modules/

# Build output
**/build/
**/dist/

# Log files
*.log

# OS files
Thumbs.db
.DS_Store

# Personal files
Pass.txt